# Url where the memory service is running
MEMORY_SERVICE_URL=http://localhost:8090/api/v1

# for google-adk example
GOOGLE_GENAI_USE_VERTEXAI=False

# Add api key for using gemini apis, needed for adk, langchain
GOOGLE_API_KEY=

# for langchain example, if needed
# LANGSMITH_TRACING=true
# LANGSMITH_ENDPOINT=https://api.smith.langchain.com
# LANGSMITH_API_KEY=lsv2_pt_xyz
# LANGSMITH_PROJECT=default