# [LLM Config]
LLM_PROVIDER=gemini
LLM_MODEL=gemini-2.0-flash

# API key as per the model using, if using ADC modify to use project id and location
GOOGLE_API_KEY=

# [Embedding Config]
EMBEDDING_PROVIDER=gemini
EMBEDDING_MODEL=gemini-embedding-001
EMBEDDING_DIM=768

# [Vector DB Config]
DB_PROVIDER=chroma
DB_COLLECTION_NAME=memories
# optional
DB_DESCRIPTION="Default"

# chroma lite (local chroma db)
DB_PERSIST_DIR=./chroma_db
# chroma http (chroma client-server)
DB_HOST=
DB_PORT=

# postgres specific (if DB_PROVIDER=postgres)
DATABASE_USER=user_name
DATABASE_PASSWORD=password_for_user
DATABASE_NAME=db_name
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

# Provider specifc additional db config
# chroma
DB_PROVIDER_CONFIG={"hnsw": {"space": "cosine"}}